@model EnergyPerformance.Models.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h2 class="display-6">Domestic Energy Performance Certificates API</h2>

    <div class="row mb-3">
        <div class="col-md-2">
            <label>Page size:</label>
            <select class="form-select" aria-label="Page Size" asp-items="Model.PagesSelectList" asp-for="SelectedPageSize" id="pageSize" selected="10">
            </select>
        </div>
        <div class="col-md-2">
            <label>Address:</label>
            <input type="text" class="form-control" id="txtAddress" />
        </div>
        <div class="col-md-2">
            <label>Post code:</label>
            <input type="text" class="form-control" id="txtPostcode" />
        </div>
        <div class="col-md-2">
            <label>Local Authority:</label>
            <input type="text" class="form-control" id="txtLocalAuthority" placeholder="Search" />
        </div>
    </div>
    <div class="row text-center mb-3">
        <div class="col-md-12">
            <button type="button" class="btn btn-primary" style="margin-right: 10px;" id="btnFilters">Apply Filters</button>
            <button type="button" class="btn btn-secondary" id="btnReset">Reset Filters</button>
        </div>
    </div>

    <div class="row">
        <div id="tableView"></div>
    </div>
    <div class="row" id="pagination">
        <div class="btn-group w-50" role="group" aria-label="Pages">
            <button type="button" class="btn btn-outline-primary disabled" id="btnPrevious">Previous</button>
            <button type="button" class="btn btn-primary" id="btnCurrent">@Model.CurrentPage</button>
            <button type="button" class="btn btn-outline-primary" id="btnNext">Next</button>
        </div>
    </div>
    <div id="viewDataModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document" style="max-width: 90%;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="max-height: 600px; overflow-y: auto;">
                   
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script>
        var currentPage = 1;
        $(() => {
            $("#pagination").hide();

            $('#txtLocalAuthority').autocomplete({
                source: '/Home/SearchLocalAuthority'
            });

            $("#btnFilters").click(() => {
                currentPage = 1;
                var data = {
                    SelectedPageSize: $("#pageSize").val(),
                    SelectedAddress: $("#txtAddress").val().trim() ?? "",
                    SelectedPostcode: $("#txtPostcode").val().trim() ?? "",
                    SelectedLocalAuthority: $("#txtLocalAuthority").val().trim() ?? ""
                };
                applyFilters(data);
            });

            $("#btnReset").click(() => {
                $("#pageSize").val(10);
                $("#txtAddress").val("");
                $("#txtPostcode").val("");
                $("#txtLocalAuthority").val("")
            });

            $("#btnNext").click(() => {
                currentPage = currentPage + 1;
                var data = {
                    CurrentPage: currentPage,
                    SelectedPageSize: $("#pageSize").val(),
                    SelectedAddress: $("#txtAddress").val().trim() ?? "",
                    SelectedPostcode: $("#txtPostcode").val().trim() ?? "",
                    SelectedLocalAuthority: $("#txtLocalAuthority").val().trim() ?? ""
                };
                applyFilters(data);
            });

            $("#btnPrevious").click(() => {
                currentPage = currentPage - 1;
                var data = {
                    CurrentPage: currentPage,
                    SelectedPageSize: $("#pageSize").val(),
                    SelectedAddress: $("#txtAddress").val().trim() ?? "",
                    SelectedPostcode: $("#txtPostcode").val().trim() ?? "",
                    SelectedLocalAuthority: $("#txtLocalAuthority").val().trim() ?? ""
                };
                applyFilters(data);
            });
        });

        function applyFilters(data) {
            $.ajax({
                type: "POST",
                url: "/Home/Index",
                data: data,
                success: function (response) {
                    $("#tableView").html(response);
                    $("#pagination").show();
                    updatePagination();
                },
                failure: function (response) {
                    alert(response.responseText);
                    $("#pagination").show();
                },
                error: function (response) {
                    alert(response.responseText);
                    $("#pagination").show();
                }
            });
        }

        function updatePagination() {
            if (currentPage > 1) {
                $("#btnPrevious").removeClass("disabled");
            } else {
                $("#btnPrevious").addClass("disabled");
            }
            $("#btnCurrent").text("Page: " + currentPage);
        }

        function onViewDetails(key) {
            console.log(key);
            $.ajax({
                type: "GET",
                url: "/Home/ViewData",
                data: { key: key},
                success: function (response) {
                    $("#viewDataModal").find(".modal-body").html(response);
                    $("#viewDataModal").modal('show');
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }

        function onViewRecommendations(key) {
            console.log(key);
            $.ajax({
                type: "GET",
                url: "/Home/ViewRecommendation",
                data: { key: key },
                success: function (response) {
                    $("#viewDataModal").find(".modal-body").html(response);
                    $("#viewDataModal").modal('show');
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }
    </script>
}
